@media (max-width: 376px) {
  .wrapper {
    position: absolute;
    max-width: 375px;
    min-width: 360px;
    width: 100%;

    margin: 0;
    padding: 0;
  }

  [class*='__container'] {
    max-width: 360px;

    margin: 0px;
    padding: 0px 20px;
  }

  .header {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    position: absolute;
    width: 100%;
    top: 0;
    background: var(--secondary-dark, #232526);
    z-index: 50;
  }

  .header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 35px 20px 30px;
    margin: 0px;
    align-items: center;
    flex-shrink: 0;
    background: var(--secondary-dark, #232526);
  }

  .nav {
    display: none;
  }

  .menu {
    display: none;
  }
  .menu__right {
    position: absolute;
    top: 40%;
    left: 90%;
    width: 20px;
    height: auto;
  }
  .main {
    width: 100%;
  }

  .first {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .first__container {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 839px;
        height: 288px; */
    flex-shrink: 0;
    position: relative;
  }

  .first__container-title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .first__bg-img {
    display: none;
  }
  .first__right-img {
    position: static;
    margin-left: 60%;
    margin-top: -23%;
    width: 40%;
    height: auto;
  }

  .one,
  .three {
    width: 100%;
    /* display: flex; */
    /* flex-direction: column;
        justify-content: left; */
    text-align: left;

    font-size: 42px;
    line-height: 56px;
  }
  .two {
    margin-left: 0;
    font-size: 42px;
    line-height: 56px;
  }

  .scroll__arrow {
    display: none;
  }

  .column__content__container {
    margin-top: 36px;
  }

  .second__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px;
  }
  .second__img {
    display: flex;
    width: 100%;

    position: relative;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
  }
  .big__img {
    width: 91%;
    height: auto;
    flex-shrink: 0;
    position: relative;
    left: 35px;
    top: 0;
  }

  .ellips__center {
    display: none;
  }
  .small__img {
    width: 27%;
    height: auto;
    flex-shrink: 0;
    position: relative;
    right: 40px;
    z-index: 2;
  }
  .second__content {
    width: 100%;
    height: auto;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    position: static;
  }
  .second__title {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
  }
  .second__text {
    width: 100%;
  }

  .third__container {
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .third__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }

  .money {
    display: none;
  }

  .mobile__money {
    display: inline;
  }

  .third__text {
    width: 100%;
  }

  .fourth__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .fourth__img {
    max-width: 375px;
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .fourth__big {
    width: 91%;
    height: auto;
    flex-shrink: 0;
    position: relative;
  }

  .fourth__small {
    width: 47%;
    height: auto;
    flex-shrink: 0;
    top: 30px;
    position: relative;
    right: 120px;
    z-index: 2;
  }

  .fourth__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  .top__firm {
    font-size: 12px;
    letter-spacing: 3.6px;
    margin-bottom: 10px;
  }
  .fourth__title {
    width: 100%;
    font-size: 26px;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .fourth__text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .fifth__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
  }

  .fifth__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .fifth__title {
    width: 100%;
    font-size: 26px;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .fifth__text {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .fifth__btn {
    justify-content: start;
    margin-top: 0;
  }

  .fifth__img {
    display: none;
  }

  .fifth__img-mobile {
    max-width: 375px;
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .second__img-mobile {
    width: 47%;
    height: auto;
    flex-shrink: 0;
    top: 30px;
    position: relative;
    right: 120px;
    z-index: 2;
  }
  .first__img-mobile {
    width: 91%;
    height: auto;
    flex-shrink: 0;
    position: relative;
  }

  .sixth__container {
    max-width: 375px;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
  }

  .sixth__link {
    color: #b8b8b8;
    text-decoration: none;
  }
  .sixth__link svg:hover {
    fill: url(#linear);
    stroke: url(#linear);
  }
  .sixth__title {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    margin-top: 20px;
  }
  .sixth__content {
    max-width: 360px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 0;
  }
  .sixth__content-column {
    max-width: 360px;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  svg {
    max-width: 120px;
    /* width: 100%;
    height: 80px; */
  }

  .last__column {
    flex-direction: row;
    gap: 39px;
    margin-top: 0;
  }

  /* <---------------springs----------------> */

  .left__vector,
  .ellips__center,
  .vector__right {
    display: none;
  }

  /* -------------------------team------------------- */
  .team {
    width: 100%;
    height: auto;
    margin: 0;
    padding-left: 20px;
    flex-direction: column;
    margin-top: 100px;
    background-color: #232526;
    padding: 0;
  }

  .team__hero {
    max-width: 360px;
    width: 90%;
    height: auto;
    display: flex;
    padding-right: 0;

    justify-content: center;
    gap: 20px;
    border-right: none;
    margin: 0 20px;
  }

  .team__btn {
    padding-bottom: 60px;
  }

  .team__hero-left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-top: 60px;
  }

  .top__hero {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .hero {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .name__hero {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 8px;
  }

  .lower__hero {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .team__hero-right {
    width: 100%;
    height: auto;
    gap: 50px;
    margin-top: 90px;
  }

  .team__info {
    max-width: 360px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .team__spring {
    display: none;
  }
  .team__info-content {
    max-width: 360px;
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 20px;
  }

  .content__title-team {
    width: 100%;
    height: auto;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  .content__text-team {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  /* -----------------------JOBS------------------------ */
  .jobs__container {
    max-width: 360px;
    width: 90%;
    height: auto;
    margin-top: 100px;
    border-top: none;
  }

  .jobs__title {
    width: 100%;
    height: auto;
    font-size: 42px;
    line-height: 56px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .jobs__links {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 60px;
    margin-bottom: 0;
  }
  .left__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  .left__link {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .sales {
    width: 100%;
    height: auto;
    color: #f4f4f4;
    font-size: 26px;
    line-height: normal;
  }
  .link__firm {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3.6px;
  }
  .main__link {
    width: 100%;
    text-decoration: none;
  }

  .main__link-content {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    gap: 19px;
  }

  .link__title {
    width: 100%;
    height: auto;
    font-size: 26px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .link__arrow {
    margin-right: 0px;
  }
  .link__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .sekond__link,
  .third__link {
    border-image: linear-gradient(90deg, #7d9bfa 0%, #60dbd4 100%);
  }

  .right__links {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }
  .right__links-title {
    font-size: 26px;
    line-height: normal;
  }
  .right__links-links {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;
  }
  .right__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .right__link-title {
    color: #b8b8b8;

    font-family: Ginora Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
  }

  .jobs__btn {
    margin-top: 60px;
  }

  /* -----------------------vector------------------- */
  .vector__jobs {
    display: none;
  }

  /* ------------------------------slider------------------------ */

  .slider__block {
    width: 100%;
    height: auto;

    margin-top: 100px;
    margin-bottom: 0px;
  }
  .slider__title {
    width: 90%;
    font-size: 36px;
    line-height: 44px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .slider__cards {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-shrink: 0;

    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;
  }
  .slider__card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .card__img {
    width: 90%;
    height: auto;
    flex-shrink: 0;
  }

  .img-mobile {
    display: none;
  }
  .slider-mobile {
    display: flex;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    font-size: 26px;
    line-height: normal;
  }

  .date {
    font-size: 12px;
    line-height: 16px;
  }

  .covid {
    font-size: 26px;
    line-height: normal;
  }

  .btns__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 90%;
    gap: 80px;
  }

  .right__arrow {
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 70%;
  }
  .slider__arrow {
    width: 100%;
    border: none;
    margin: 0;
  }

  /* --------------------------------ideas__container--------------------------------- */
  .idea__wrapper {
    width: 100%;
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 100px;
  }
  .last__spring {
    display: none;
  }
  .ideas__container {
    max-width: 360px;
    width: 90%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }
  .title__information {
    gap: 20px;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

  .title__top {
    font-size: 36px;
    line-height: 44px;
  }

  .title__lower {
    width: 100%;
  }

  .form__information {
    width: 50%;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-group {
    width: 100%;
    position: static;
  }
  .user {
    width: 100%;
    height: 40px;
  }

  label {
    padding-bottom: 14px;
    top: 29px;
    left: 30px;
  }

  .info__btn {
    width: 160px;
    margin-top: 62px;
    margin-bottom: 80px;
  }
  .btn__text {
  }

  .social__wrapper {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .social__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social__link {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    justify-content: center;
    letter-spacing: normal;
  }

  .soc {
    width: 267px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .policy {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }
  /* ---------------------------footer----------------------------------- */
  .footer {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: #b8b8b8;
    text-align: center;

    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 60px;
    border-top: 1px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(128, 147, 255, 0) 0%,
      #7d9bfa 21.14%,
      #60dbd4 78.8%,
      rgba(92, 228, 207, 0) 100%
    );
    border-image-slice: 1;
  }
  .pixirhy {
    color: #99a9ff;
    font-family: Ginora Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-left: 5px;
  }
}
